# This is the root editor config file
root = true

# Apply rules to all files
[*]

# Use unix line endings
end_of_line = lf
insert_final_newline = true

# 2 space indentation for everything
indent_style = space
indent_size = 2

# Charset
charset = utf-8

# Trim whitespace if the editor supports it
trim_trailing_whitespace = true
insert_final_newline = true

# Apply fo only markdown files
[*.md]
trim_trailing_whitespace = false
